<ion-content [fullscreen]="true">
    <ion-header class="myHeader">
        <ion-toolbar>
            <ion-title size="large">Mamappy</ion-title>
            <ion-text slot="end" style="margin-right:10px;" *ngIf="this.originIsSetting">Click on map to set origin</ion-text>
            <ion-buttons slot="end">
                <ion-button (click)="toggleParam()">
                    <ion-icon name="pin-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <div id="info" [ngClass]="(this.showParam === true) ? 'open' : ''">
        <ion-card class="content">
            <ion-card-content class="inner_content">
                <ion-button class="btn" color="light" expand="full" fill="solid" (click)="setOrigin()">
                    Positionner le Point de départ
                </ion-button>
                <ion-button class="btn" style="margin: 10px 0;" color="light" expand="full" fill="solid" (click)="setOrigin(true)">
                    Mettre le Point de départ à mon emplacement actuel
                </ion-button>

                <div class="range_area">
            <p>Distance de la Zone : <ion-input class="range_input" min="1" max="100" type="number" (ionChange)="changeCircle($event, true)"  [(ngModel)]="this.circleDistance"></ion-input> km</p>
            <ion-range color="light" min="0" (ionChange)="changeCircle($event)"  [(ngModel)]="this.circleDistance" max="100" step="1" ></ion-range>

                </div>
                <ion-button class="btn" color="light"  style="margin-top: auto;"expand="full" fill="solid" (click)="toggleParam()">
                    Fermer
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>

    <div id="map"></div>
</ion-content>
