#map {
    height: calc(100vh - 56px);
}

#info {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-align: center;
    justify-content: center;
    z-index: 5000;
    &.open {
        display: flex;
    }

    .content {
        width: 90vw;
        height: 90vh;
        .inner_content {
            height: 100%;
            display: flex;
            flex-direction: column;
            p {
                color: white;
            }
        }
    }
}

.range_area {
    margin: 100px 0;
    p {
        display: flex;
        align-items:center;
        margin-bottom: 20px;
        .range_input {
            text-align:right;
            margin-right: 10px;
        }
    }
}

.btn {
    color: red !important;
}

@media screen and (max-width: 768px) {
    .btn {
        white-space: break-spaces;
    }
}

* {
    --var-color: white;
    --ion-toolbar-background: #229fc7;
    --ion-card-background: #229fc7;
    --ion-toolbar-color: white;
    --ion-car-color: white;
    --ripple-color: cyan;
}
